.s-hero {
    padding-top: 8rem;

    .hero-content {
        @include flexCenterBetween;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        padding-bottom: 9.7rem;

        .left {
            flex: 1;
            max-width: 60rem;

            h1 {
                font-size: 5.6rem;
                margin-bottom: 1.6rem;
                letter-spacing: -1.68px;

                span {
                    color: $purple-10;
                    text-decoration: underline;
                    font-family: 'Space Grotesk', sans-serif;
                }
            }

            p {
                max-width: 49.1rem;
                color: $gray-200;
                font-size: 2.2rem;
                line-height: 150%;
                margin-bottom: 3.2rem;
            }

            ul {
                width: 100%;
                max-width: 33.9rem;
                @include flexCenterBetween;
                margin: 4.8rem 0;
            }
        }
    }
}

.s-resources {
    padding-top: 111px;
    padding-bottom: 11.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    .top {
        @include flexCenterBetween;
        margin-bottom: 8rem;
        h3 {
            max-width: 69rem;
            letter-spacing: -1.2px;
        }

        p {
            color: $gray-200;
            max-width: 30.3rem;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    .all {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
}