.s-hero {
    padding-top: 8rem;

    .hero-content {
        @include flex-center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        padding-bottom: 9.7rem;
        justify-content: center;

        .left {
            flex: 1;
            max-width: 60rem;

            h1 {
                font-size: 4.1rem;
                margin-bottom: 1.6rem;
                letter-spacing: -1.68px;

                span {
                    color: $purple-10;
                    text-decoration: underline;
                    font-family: 'Space Grotesk', sans-serif;
                }
            }

            p {
                max-width: 623px;
                color: $gray-200;
                font-size: 1.750rem;
                line-height: 150%;
                margin-bottom: 2.8rem;
            }

            ul {
                width: 100%;
                max-width: 33.9rem;
                @include flexCenterBetween;
                margin: 1.5625rem 0;
            }
        }

        .img-mobile {
            display: none;
        }
    }

    @include responsivo('laptop') {
        padding-top: 3rem;

        .hero-content {
            gap: 2rem;
            padding-bottom: 5rem;

            .left {
                max-width: 34.375rem;

                h1 {
                    font-size: 2.875rem;
                }

                p {
                    max-width: 33rem;
                    font-size: 1.25rem;
                    margin-bottom: 2rem;
                }

                ul {
                    justify-content: flex-start;
                    gap: 1.4375rem;
                    margin: 1.1rem 8px;
                }
            }
        }
    }

    @include responsivo('tablet') {
        .hero-content {
            flex-direction: column;
            gap: 4rem;

            .left {
                max-width: 100%;
                text-align: center;

                p {
                    margin: 0 auto;
                    margin-bottom: 3rem;
                }

                ul {
                    margin: 3rem auto;
                    justify-content: center;
                }
            }
        }
    }

    @include responsivo('mobile') {
        .hero-content {
            gap: 3rem;
            padding-bottom: 3rem;

            .left {
                h1 {
                    font-size: 2.5rem;

                    span {
                        display: block;
                    }
                }

                p {
                    font-size: 1rem;
                }
            }

            &>img {
                display: none;

                &.img-mobile {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }
}

.s-resources {
    padding-top: 7rem;

    .container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        padding-bottom: 11.1rem;
    }

    .top {
        @include flexCenterBetween;
        margin-bottom: 8rem;
        gap: 5.75rem;

        h3 {
            font-size: 2.5rem;
            max-width: 41.3125rem;
            letter-spacing: -1.2px;
        }

        p {
            color: $gray-200;
            max-width: 19.9375rem;
            font-size: 1rem;
            line-height: 150%;
        }
    }

    .all {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    @include responsivo('laptop') {
        padding-top: 5rem;

        .all {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 70px;
        }
    }

    @include responsivo('tablet') {
        .container {
            padding-bottom: 3rem;
        }

        .top {
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 5rem;

            h3 {
                text-align: center;
            }
        }

        .all {
            padding-bottom: 4.5rem;
        }
    }

    @include responsivo('mobile') {
        padding-top: 4rem;

        .top {
            margin-bottom: 3rem;

            h3 {
                font-size: 1.75rem;
            }
        }

        .all {
            gap: 4rem;
            grid-template-columns: 1fr;
        }
    }
}

.s-marketing {
    padding-top: 9.6rem;
    padding-bottom: 12.6rem;

    .box {
        width: 100%;
        max-width: 76rem;
        height: 28.75rem;
        border-radius: 10px;
        background: url('../img/fundo-marketing.svg') no-repeat center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 3.5rem;
            max-width: 49.125rem;
            text-align: center;
            margin-bottom: 1rem;
            letter-spacing: -1.68px;
        }

        p {
            color: $gray-200;
            text-align: center;
            font-size: 1.25rem;
            line-height: 150%;
            max-width: 31.3125rem;
            padding-bottom: 3.2rem;
        }
    }

    @include responsivo('tablet') {

        .box {
            padding-left: 20px;
            padding-right: 20px;

            h2 {
                font-size: 2.5rem;
                max-width: 33.125rem;
            }

            p {
                font-size: 1rem;
                max-width: 22.3125rem;
            }
        }
    }

    @include responsivo('mobile') {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .box {
            height: auto;
            background-size: cover;
            padding-top: 7rem;
            padding: 4rem 1.5rem;
            h2 {
                font-size: 2.2rem;
                max-width: 21.125rem;
            }

            p {
                font-size: 1rem;
                max-width: 22.3125rem;
            }
        }
    }
}