* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    // font-family: 'Space Grotesk', sans-serif;
    color: $gray-100;
}

html {
    background-color: $gray-900;
    font-size: 62,5%;
}

img {
    max-width: 100%;
    display: block;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}