// Primary colors

$purple-10 : #653DF5;
$purple-20 : #4E32B5;
$purple-30 : #2C1B6A;

// Gray colors

$gray-900  : #0A0B0D;
$gray-800  : #393B42;
$gray-700  : #5C5F69;
$gray-600  : #787C87;
$gray-500  : #979BA6;
$gray-400  : #ABAFBA;
$gray-300  : #C0C3CC;
$gray-200  : #DFE1E8;
$gray-100  : #F5F6FA;